*{
  margin: 0px;
  padding: 0px;
}

.fondo{
  background-color: rgb(127, 127, 127);
  position: absolute;
  width: 834px;
  height: 1194px;
  z-index: 0;
}

.escribe{
  position: absolute;
width: 800px;
height: 77px;
left: 150px;
margin-top: 180px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 66px;
line-height: 77px;

/* identical to box height */

color: #F7F7F7;
}

.note{
  position: absolute;
  margin-top: 300px;
  width: 750px;
  height: 700px;
  margin-left: 20px;
}

.atras{
  position: absolute;
width: 90px;
height: 90px;
left: 50px;
top: 49px;


}

.note2{
  position: absolute;
  width: 469px;
  height: 427px;
  margin-top: 250px;
  margin-left: 350px;
  width: 450px;
  height: 400px;
}

.note3{
  position: absolute;
  width: 469px;
  height: 427px;
  margin-top: 250px;
  width: 450px;
  height: 400px;
}